# History files
.Rhistory
.Rproj.user

# temporary Vim files
*~
*.sw?

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# temporary Tex Files
.aux
.log

# RStudio files
.Rproj.user/

# inst/doc
